<div class="card">
  <div class="card-header mb-2">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="card-title">Positions</h2>
      </div>
    </div>
  </div>

  <div class="card-body pt-0 ">
    <div class="row align-items-center mb-2">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          [(ngModel)]="searchTerm"/>
      </div>
      <div class="col-4">
        <div class="btn-group float-end ms-2">
          <button type="button" class="btn rounded-pill btn-secondary" (click)="newPosition()">
            New Position
          </button>
        </div>
      </div>
    </div>

    <div class="row align-items-center mb-2">
      <div class="tab-pane" id="documents" role="tabpanel">
        <div class="table-responsive browser_users">
          <table class="table table-hover mb-0">
            <thead class="table-light">
              <tr>
                <th class="border-top-0" style="width: 5%">Id</th>
                <th class="border-top-0">Title</th>
                <th class="border-top-0 ">Creation Date</th>
                <th class="border-top-0 text-center">Status</th>
                <th class="border-top-0 text-center">Tags</th>
                <th class="border-top-0" style="width: 10%">Applications</th>
                <th class="border-top-0 ">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredResults" style="cursor: pointer" (click)="goToPositionDetail(item.id)">
                <td class="">{{ item.id }}</td>
                <td class="">{{ item.title }}</td>
                <td class="">{{ item.creationDate | date: 'dd-MM-yyyy'}}</td>
                <td class="text-center">
                  <span class="badge rounded text-primary bg-transparent border border-primary ms-1 p-1">{{ item.status | positionStatusPipe }}</span>
                </td>
                <td class="text-center">
                  @for (tag of item.tags; track tag.name) {
                    <span class="badge bg-primary me-0.5">{{ tag.name }}</span>
                  }
                </td>
                <td class="text-center">{{ item.applications }}</td>
                <td class="">
                  <button class="btn p-0 me-1" (click)="goToPositionView(item.id); $event.stopPropagation()">
                    <i class="far fa-eye text-secondary fs-20"></i>
                  </button>
                  <button class="btn p-0" (click)="goToCandidates(item.id); $event.stopPropagation()">
                    <i class="far fa-address-book fs-20"></i>
                  </button>
                  <button class="btn p-0" (click)="confirmDeletePosition(item.id); $event.stopPropagation()">
                    <i class="las la-trash-alt fs-20 text-danger"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="filteredResults.length === 0">
                <td colspan="4" class="text-center">No results found</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template
          #deletePositionModal let-modal class="modal fade" id="deletePositionModal" tabindex="-1" role="dialog" aria-labelledby="deletePositionModalTitle" aria-hidden="true">
          @if (positionToDelete) {

            <div class="modal-header bg-danger">
              <h6 class="modal-title m-0" id="exampleModalCenterTitle">Delete Position</h6>
              <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
            </div>
            <!--end modal-header-->
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-3 text-center align-self-center">
                  <img src="assets/images/extra/card/btc.png" alt="" class="img-fluid"/>
                </div>
                <!--end col-->
                <div class="col-lg-9 align-self-center">
                  <h5>{{ positionToDelete.title }}</h5>
                  <span class="badge bg-light text-dark">{{ positionToDelete.creationDate | date }}</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss()">Cancel</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deletePosition(positionToDelete.id)">Confirm</button>
            </div>
          }
        </ng-template>


        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="total"
            [(page)]="page"
            [pageSize]="pageSize"
          >
          </ngb-pagination>

          <select
            class="form-select"
            style="width: auto"
            name="pageSize"
            [(ngModel)]="pageSize"
          >
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

