.subheader {
  background-color: #4F5464;
  color: white
}

.card-container {
  background-color: #343A4B;
}

.badge {
  color: black;
}

.section {
  border-color: white;
  border-width: 2px;
  border-style: solid
}

.full-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}
