.subheader {
  background-color: #4F5464;
  color: white
}

.card-container {
  background-color: #343A4B;
}

.badge {
  color: black;
}

.section {
  border-color: white;
  border-width: 2px;
  border-style: solid
}
