@if (position) {
<div class="card border border-2 border-secondary ">
  <div class="card-header bg-light-subtle">
    <div class="row">
      <div class="col-lg-8 align-self-center mb-3 mb-lg-0">
        <div class="d-flex align-items-center flex-row flex-wrap">
          <div class="">
            <h1 class="fw-semibold mb-1">{{ position.title }}</h1>
            <p class="mb-2 text-muted fw-medium">Fecha de creación: {{position.creationDate | date: 'dd-MM-yyyy'}}</p>
            <span *ngFor="let tag of position.tags" class="badge bg-success me-2 fs-16">{{ tag.name }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 align-top mb-3 mb-lg-0">
        <div class="text-end flex-row flex-wrap">
          <div class="pb-2">
            <button type="button" class="btn rounded-pill btn-secondary me-0.5" (click)="back()">
              Back
            </button>
            <button type="button" class="btn rounded-pill btn-danger" (click)="openApplyForm()">
              Apply
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card border-dashed">
      <div class="card-header bg-blue-subtle">
        <h4 class="fw-semibold mb-1">¿Qué estamos buscando?</h4>
      </div>
      <div class="card-body">
        <p class="lead">{{ position.description }}</p>
      </div>
    </div>
    <div class="card border-dashed">
      <div class="card-header bg-blue-subtle">
        <h4 class="fw-semibold mb-1">¿Qué esperamos de ti?</h4>
      </div>
      <div class="card-body">
        <ul class="pt-2">
          <li *ngFor="let req of position.requirements" class="lead">
            <strong>{{ req.key }}:</strong> {{ req.value }} - {{ req.description }}
            <span *ngIf="req.isMandatory" class="text-danger">(Obligatorio)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="card border-dashed">
      <div class="card-header bg-blue-subtle">
        <h4 class="fw-semibold mb-1">¿Qué responsabilidades y tareas principales tendrás?</h4>
      </div>
      <div class="card-body">
        <ul class="pt-2">
          <li *ngFor="let task of position.tasks" class="lead">{{ task.description }}</li>
        </ul>
      </div>
    </div>
    <div class="card border-dashed">
      <div class="card-header bg-blue-subtle">
        <h4 class="fw-semibold mb-1">¿Por qué trabajar con nosotros?</h4>
      </div>
      <div class="card-body">
        <ul class="pt-2">
          <li *ngFor="let benefit of position.benefits" class="lead">{{ benefit.description }}</li>
        </ul>
      </div>
    </div>
    <ng-template
      #applyToPositionModal let-modal
      class="modal fade"
      d="applyToPositionModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="applyToPositionModalTitle"
      aria-hidden="true">
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col">
            <app-new-application #newApplicationComponent [position]="position" (applicationFinished)="closeModal()"></app-new-application>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn rounded-pill btn-secondary me-0.5" (click)="closeModal()">Cancelar</button>
          <button type="button" class="btn rounded-pill btn-danger" (click)="applyToPosition()">Aplicar</button>
        </div>
      </div>

    </ng-template>
  </div>
</div>
}
