<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-title">Basic Info</h4>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="mb-3 row">
        <label for="title" class="col-sm-2 col-form-label text-lg-end">Title</label>
        <div class="col-sm-10">
          <input class="form-control" type="text"  id="title"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="description" class="col-sm-2 col-form-label text-lg-end">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="5" id="description"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-title">Requirements</h4>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="mb-3 row justify-content-center pr-2 pl-2">
        <div class="col ">
          <table class="table mb-0 gx-5">
            <thead class="table-light">
            <tr>
              <th class="border-top-0" style="width: 15%;">Key</th>
              <th class="border-top-0" style="width: 15%;">Value</th>
              <th class="border-top-0" style="width: 50%;">Description</th>
              <th class="border-top-0" style="width: 10%;"></th>
              <th class="border-top-0" style="width: 10%;"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of reqs; let i = index">
              <td class="align-top px-2">
                <input
                  class="form-control text-start"
                  type="text"
                  id="req-title-{{i}}"
                />
              </td>
              <td class="align-top px-2">
                <input
                  class="form-control text-start"
                  type="text"
                  id="req-value-{{i}}"
                />
              </td>
              <td class="align-top px-2">
                <textarea
                  class="form-control text-start"
                  rows="3"
                  id="req-description-{{i}}"
                ></textarea>
              </td>
              <td class="align-middle px-2 text-center form-switch form-switch-success">
                <label class="form-check-label" for="customSwitchSuccess-{{i}}">Is mandatory?</label>
                <div class="text-center form-switch form-switch-success">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="customSwitchSuccess-{{i}}"
                    checked
                  />
                </div>

              </td>
              <td class="align-middle px-2 text-center">
                <button class="btn btn-danger btn-sm me-2" (click)="deleteRequirement(i)">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-success btn-sm" (click)="addRequirement()">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-title">Tasks</h4>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="mb-3 row justify-content-center pr-2 pl-2">
        <div class="col ">
          <table class="table mb-0 gx-5">
            <thead class="table-light">
            <tr>
              <th class="border-top-0">Description</th>
              <th class="border-top-0" style="width: 10%;"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of tasks; let i = index">
              <td class="align-top px-2">
                <textarea class="form-control text-start" rows="3" id="tasks-description-{{i}}"></textarea>
              </td>
              <td class="align-middle px-2 text-center">
                <button class="btn btn-danger btn-sm me-2" (click)="deleteTask(i)">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-success btn-sm" (click)="addTask()">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-title">Benefits</h4>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="mb-3 row justify-content-center pr-2 pl-2">
        <div class="col ">
          <table class="table mb-0 gx-5">
            <thead class="table-light">
            <tr>
              <th class="border-top-0">Description</th>
              <th class="border-top-0" style="width: 10%;"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of benefits; let i = index">
              <td class="align-top px-2">
                <textarea class="form-control text-start" rows="3" id="benefits-description-{{i}}"></textarea>
              </td>
              <td class="align-middle px-2 text-center">
                <button class="btn btn-danger btn-sm me-2" (click)="deleteBenefit(i)">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-success btn-sm" (click)="addBenefit()">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

