asyncpg==0.28.0
aiokafka
kafka-python
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-asyncpg
opentelemetry-instrumentation-logging
opentelemetry-exporter-otlp
pydantic==2.4.2
confluent-kafka
openai
numpy
scikit-learn