# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/documentation

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

.vscode
sync
/platform/local/.env
/doc/movie
/platform/cloud/aws/terraform/.terraform/modules/eks.eks/
/platform/cloud/aws/terraform/.terraform/modules/eks.eks.kms/
/platform/cloud/aws/terraform/.terraform/modules/rds.postgresql/
/platform/cloud/aws/terraform/.terraform/modules/vpc.vpc/
/platform/cloud/aws/terraform/.terraform/modules/modules.json
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.96.0/darwin_arm64/LICENSE.txt
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.96.0/darwin_arm64/terraform-provider-aws_v5.96.0_x5
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/cloudinit/2.3.7/darwin_arm64/LICENSE.txt
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/cloudinit/2.3.7/darwin_arm64/terraform-provider-cloudinit_v2.3.7_x5
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.36.0/darwin_arm64/LICENSE.txt
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.36.0/darwin_arm64/terraform-provider-kubernetes_v2.36.0_x5
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/LICENSE.txt
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/terraform-provider-null_v3.2.4_x5
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/darwin_arm64/LICENSE.txt
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/darwin_arm64/terraform-provider-random_v3.7.2_x5
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.0/darwin_arm64/LICENSE.txt
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.0/darwin_arm64/terraform-provider-time_v0.13.0_x5
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/tls/4.1.0/darwin_arm64/LICENSE.txt
/platform/cloud/aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/tls/4.1.0/darwin_arm64/terraform-provider-tls_v4.1.0_x5
