  <div class="card">
    <div class="card-header bg-blue-subtle">
      <h3 class="fw-semibold">Rellena el formulario para aplicar a la posición</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="applicationForm" (ngSubmit)="submitApplication()">

        <!-- Name -->
        <div class="row mb-3 align-items-center">
          <label for="name" class="col-sm-2 col-form-label text-lg-end">Nombre</label>
          <div class="col-sm-9">
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nombre completo">
            <div *ngIf="applicationForm.get('name')?.invalid && applicationForm.get('name')?.touched" class="text-danger">
              Se requieren mínimo tres caracteres.
            </div>
          </div>
        </div>

        <!-- Phone -->
        <div class="row mb-3 align-items-center">
          <label for="phone" class="col-sm-2 col-form-label text-lg-end">Teléfono</label>
          <div class="col-sm-9">
            <input type="text" id="phone" class="form-control" formControlName="phone" placeholder="Escribe tu teléfono">
            <div *ngIf="applicationForm.get('phone')?.invalid && applicationForm.get('phone')?.touched" class="text-danger">
              Escribe un número válido.
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="row mb-3 align-items-center">
          <label for="email" class="col-sm-2 col-form-label text-lg-end">Email</label>
          <div class="col-sm-9">
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Escribe tu email">
            <div *ngIf="applicationForm.get('email')?.invalid && applicationForm.get('email')?.touched" class="text-danger">
              Escribe un email válido
            </div>
          </div>
        </div>

        <!-- CV Upload -->
        <div class="row mb-3 align-items-center">
          <label for="cv" class="col-sm-2 col-form-label text-lg-end text-nowrap">Subir CV</label>
          <div class="col-sm-9">
            <input type="file" id="cv" class="form-control pl-1" (change)="onFileSelected($event)">
            <div *ngIf="applicationForm.get('cv')?.invalid && applicationForm.get('cv')?.touched" class="text-danger">
              Por favor, sube un archivo PDF.
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
