<div class="card">
  <div class="card-header mb-2">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="card-title">Open positions</h2>
      </div>
    </div>
  </div>

  <div class="card-body pt-0 ">
    <div class="row align-items-center mb-2">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          [(ngModel)]="searchTerm"/>
      </div>
    </div>

    <div class="row align-items-center mb-2">
      <div class="tab-pane" id="documents" role="tabpanel">
        <div class="table-responsive browser_users">
          <table class="table table-hover mb-0">
            <thead class="table-light">
              <tr>
                <th class="border-top-0 col-1">Id</th>
                <th class="border-top-0 col-2">Title</th>
                <th class="border-top-0 col-4">Description</th>
                <th class="border-top-0 col-2 text-center">Creation Date</th>
                <th class="border-top-0 col-2 text-center">Tags</th>
                <th class="border-top-0 col-2 text-center">Applications</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredResults" style="cursor: pointer" (click)="goToPositionDetail(item.id)">
                <td class="">{{ item.id }}</td>
                <td class="">{{ item.title }}</td>
                <td class="text-truncate">{{ item.description }}</td>
                <td class="text-center">{{ item.creationDate | date: 'dd-MM-yyyy'}}</td>
                <td class="text-center">
                  @for (tag of item.tags; track tag.name) {
                    <span class="badge bg-primary me-0.5">{{ tag.name }}</span>
                  }
                </td>
                <td class="text-center">{{ item.applications }}</td>
              </tr>
              <tr *ngIf="filteredResults.length === 0">
                <td colspan="4" class="text-center">No results found</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="total"
            [(page)]="page"
            [pageSize]="pageSize"
          >
          </ngb-pagination>

          <select
            class="form-select"
            style="width: auto"
            name="pageSize"
            [(ngModel)]="pageSize"
          >
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

