<div class="topbar">
  <div class="container-xxl">
    <nav class="topbar-custom d-flex justify-content-between" id="topbar-custom">
      <ul class="topbar-item list-unstyled d-inline-flex align-items-center mb-0">
        <li>
          <button class="nav-link mobile-menu-btn nav-icon" id="togglemenu" (click)="goHome()">
            <i class="icofont-home"></i>
          </button>
        </li>
        <li class="mx-3 welcome-text">
          <h3 class="mb-0 fw-bold text-truncate">Recruiting App</h3>
        </li>
      </ul>

      <ul  class="topbar-item list-unstyled d-inline-flex align-items-center mb-0">
        <li class="dropdown topbar-item" ngbDropdown>
          <button type="button" class="btn rounded-pill btn-outline-primary bg-white">
            Login
          </button>
        </li>

        <li class="dropdown topbar-item" ngbDropdown>
          <a
            class="nav-link dropdown-toggle arrow-none nav-icon"
            ngbDropdownToggle
            data-bs-toggle="dropdown"
            href="javascript:void(0);"
            role="button"
            aria-haspopup="false"
            aria-expanded="false">
              <i class="icofont-bell-alt"></i>
              <span class="alert-badge"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
