<div class="card border border-2 border-secondary">
  <div class="card-header ">
    <div class="row">
      <div class="col-lg-8 align-self-center mb-3 mb-lg-0">
        <div class="d-flex align-items-center flex-row flex-wrap">
          <div class="">
            <h5 class="fw-semibold fs-22 mb-1">{{ position.title }}</h5>
            <p class="mb-0 text-muted fw-medium">Internal Id: {{position.id}}</p>
            <p class="mb-0 text-muted fw-medium">Applications received: {{position.applications}}</p>
            <p class="mb-0 text-muted fw-medium">Created at: {{position.creationDate | date: 'dd-MM-yyyy'}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
        <div class="text-end flex-row flex-wrap">
          <div class="pb-2">
            <button type="button" class="btn rounded-pill btn-secondary me-0.5" (click)="back()">
              <i class="fa fa-home"></i> Back
            </button>
          </div>
        </div>
        <div class="text-end flex-row flex-wrap">
          <div class="pb-2">
            @for (tag of position.tags; track tag.name) {
              <span class="badge bg-primary me-0.5 fs-14">{{ tag.name }}</span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  @if (applications.length > 0) {
    <div class="card-body">
    <div class="card border-dashed">
      <div class="card-header mb-2 bg-blue-subtle">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fw-semibold  fs-20">Applications list</h2>
          </div>
        </div>
      </div>

      <div class="card-body ">
        <div class="row align-items-center mb-2">
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="searchTerm"/>
          </div>
        </div>

        <div class="row align-items-center mb-2">
          <div class="tab-pane" id="candidates" role="tabpanel">
            <div class="table-responsive browser_users">
              <table class="table table-hover mb-0">
                <thead class="table-light">
                <tr>
                  <th class="border-top-0" style="width: 5%">Id</th>
                  <th class="border-top-0">Candidate</th>
                  <th class="border-top-0 ">Application Date</th>
                  <th class="border-top-0 text-center">Tags</th>
                  <th class="border-top-0 text-center">Matching (%)</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let application of filteredResults" style="cursor: pointer" (click)="goToApplicationDetail(application.id)">
                  <td class="">{{ application.shortId }}</td>
                  <td class="">{{ application.candidate }}</td>
                  <td class="">{{ application.creationDate | date: 'dd-MM-yyyy'}}</td>
                  <td class="text-center">
                    @for (tag of application.tags.split(','); track tag) {
                      <span class="badge bg-primary me-0.5">{{ tag }}</span>
                    }
                  </td>
                  <td class="text-center">{{ application.scoring}}</td>
                </tr>
                <tr *ngIf="filteredResults.length === 0">
                  <td colspan="4" class="text-center">No results found</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="total"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="pageChange(position.id, $event)"
              >
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>




