asyncpg==0.28.0
kafka-python
opentelemetry-api==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-instrumentation-asyncpg==0.52b1
opentelemetry-instrumentation-logging==0.52b1
opentelemetry-exporter-otlp==1.31.1
opentelemetry-semantic-conventions==0.52b1
pydantic
confluent-kafka
openai
httpx
numpy
scikit-learn
mypy==1.5.1
isort==5.12.0
sqlalchemy==2.0.4
psycopg2-binary==2.9.9