<div class="topbar">
  <div class="container-xxl">
    <nav class="topbar-custom d-flex justify-content-between" id="topbar-custom">
      <ul class="topbar-item list-unstyled d-inline-flex align-items-center mb-0">
        <li>
          <button class="nav-link mobile-menu-btn nav-icon" id="togglemenu" (click)="goHome()">
            <i class="icofont-home"></i>
          </button>
        </li>
        <li class="mx-3 welcome-text">
          <h3 class="mb-0 fw-bold text-truncate">Candidates App</h3>
        </li>
      </ul>
    </nav>
  </div>
</div>
